@model Trip.Models.LogIn
@{
    ViewBag.Title = "AdminPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" id="mainContainerAdminPanel">
    <h1 id="adminpaneltitle">Admin Panel</h1>
    <form action="~/City/AddCity" method="post">
        <div class="col-md-6">
            <div class="row">
                <h3>Add a city</h3>
            </div>
            <div class="row">
                <input class="form-control" type="text" name="addCityNameID" placeholder="Enter city name" />
            </div>
            <div class="row">
                <input class="form-control" type="text" name="addCountryID" placeholder="Enter country ID" />
            </div>
            <div class="row">
                <input class="form-control" type="text" name="addCityDescriptionID" placeholder="Enter city description" />
            </div>
            <div class="row">
                <input class="btn btn-primary" type="submit" value="Add" />
            </div>
        </div>
    </form>

    <form action="~/Attraction/AddAttraction" method="post">
        <div class="col-md-6">
            <div class="row">
                <h3>Add an attraction</h3>
            </div>
            <div class="row">
                <input class="form-control" type="text" name="addAttractionPrice" placeholder="Enter attraction price" />
            </div>
            <div class="row">
                <input class="form-control" type="text" name="addAttractionProgram" placeholder="Enter attraction schedule" />
            </div>
            <div class="row">
                <input class="form-control" type="text" name="addAttractionCityID" placeholder="Enter city ID" />
            </div>
            <div class="row">
                <input class="form-control" type="text" name="addAttractionName" placeholder="Enter attraction name" />
            </div>
            <div class="row">
                <input class="form-control" type="text" name="addAttractionDescription" placeholder="Enter attraction description" />
            </div>
            <div class="row">
                <input class="btn btn-primary" type="submit" value="Add" />
            </div>
        </div>
    </form>

    <hr />

    <form action="~/City/ShowCities" method="post">
        <div class="col-md-6">
            <div class="row">
                <input class="btn btn-primary" type="submit" value="Cities" />
            </div>
        </div>
    </form>

    <form action="~/Attraction/ShowAttractions" method="post">
        <div class="col-md-6">
            <div class="row">
                <input class="btn btn-primary" type="submit" value="Attractions" />
            </div>
        </div>
    </form>
</div>
