@model Trip.Models.LogIn
@{
    ViewBag.Title = "AdminPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hello " @Model.Users.Username "</h2>
<h1>Add another city</h1>
<div class="jumbotron">
    <div class="jumbotron">
        <form action="Add" method="post">
            <table>
                <tr>
                    <td>City Name: </td>
                    <td><input type="text" name="addCityNameID" /></td>
                </tr>
                <tr>
                    <td>Country: </td>
                    <td><input type="text" name="addCountryID" /></td>
                </tr>
                <tr>
                    <td>City description: </td>
                    <td><input type="text" name="addCityDescriptionID" /></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Add" /></td>
                    <td colspan="2"><input type="submit" value="Delete" /></td>
                </tr>
            </table>
        </form>
        <hr />
    </div>
</div>

