@model Trip.Models.Details
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" id="formSearch">
    <h2 id="searchTitle">@Model.PopUps.City_not_found</h2><hr />
    <form class="form-inline" action="~/City/City" method="post">
        <div class="form-group mx-sm-3 mb-2" id="form">
            <input type="text" class="form-control" id="inputCity" placeholder="Where are u going?" name="searchID">
        </div>
        <input type="submit" class="btn btn-primary mb-2" value="Search">
    </form>
</div>
